body {
    background-color: #f7f7f7;
}

header {
    margin-top: 2.5%;
}

.header_contakt {
    display: flex;
    justify-content: flex-end;
}

.button_vk {
    width: 55px;
    height: 55px;
    background-color: #3fa9f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25%;
    padding-right: 0.25%;
    float: left;
    margin-right: 2%;
}

.button_phone {
    width: 55px;
    height: 55px;
    background-color: #79c944;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    margin-right: 2%;
}

section {
    margin-top: 4%;
}

.section_map {
    display: flex;
    justify-content: center;
}

.map {
    width: 80%;
    height: 80%;
}


main {
    margin-top: 5%;
}

.mani_text {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 2vw;
    margin-left: 10%;
}

.text p {
    line-height: 12px;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}

.zdvig {
    padding-left: 7%;
}


aside {
    margin-bottom: 10%;
}


.buytton_aside {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.text_aside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7ac943;
    font-size: 5vw;
    width: 60%;
    border: 1px solid #a6a7a3;
    background-color: #f2f2f2;
    border-radius: 50px;
}

.text_aside_2 {
      display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:  #4d4d4d;
    font-size: 5vw;
    width: 60%;
    border: 1px solid #a6a7a3;
    background: url(img/Group.png);
    background-position: 40% 90%;
    border-radius: 50px;
}

.text_aside_2 a{
    font-family: 'Open Sans Condensed', sans-serif;
    color:  #4d4d4d;
    font-size: 5vw;
}

.text_aside_2 a:hover{
    text-decoration: none;
}





.header_mein {
    text-align: center;
}

.header_mein a, .header_mein_2 a{
    font-size: 1vw;
    color:#9c9a9c;
}

.header_mein_2 a{
   color:  #ff3500;
}

.header_mein_2 img{
    width: 6%;
     margin-right: 2%;
}

.header_mein_imge img{
    width: 20%;
}


.mani_text_delevori{
    
}


.zogolovok_delevori{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10vw;
    text-align: center;
}

sup{
    color: red;
    font-size: 5vw;
}

.text_delevori img{
    width: 6%;
}


